html {
  min-height: 100vh;
  background: rgb(34, 34, 36);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0%;
  max-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  
}

body{
  margin: 0 auto;
  padding:0;
  max-height: 100vh;
  background: rgb(34, 34, 36);
  font-family: 'Montserrat', sans-serif;
}
.app{
  margin: 0 auto;
  min-height: 100vmax;
}

nav-bar {
  position: fixed;
  z-index:2;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  max-height: 50px;
  min-width: 100%;
  max-width: 100%;
  background: rgb(38, 36, 36);
  transition: 0.25s;
}

.icon {
  max-height: 3em;
}

.nav-links {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-style {
  color: aliceblue;
  text-decoration: none;
}

.nav-style:hover {
  color: rgb(240, 225, 107);
  text-decoration: none;
  border-bottom: solid 2px #E9D21B;
  transition: all 200ms ease-in-out;
}

.active-nav {
  color: rgb(240, 225, 107);
  font-size: larger;
}

.banner {
  position: fixed;
  box-sizing: border-box;
  z-index:2;
  margin-top: 50px;
  min-height: 90px;
  max-height: 94px;
  width: 100%;
  background: black;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid black .26em;
  overflow: hidden;
  animation: change 3s infinite;
}
@keyframes change {
  0% { border-color: black}
  50% { border-color: #E9D21B;}
}

.banner-link {
  color: rgb(236, 226, 145);
  font-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}

.banner-link:hover {
  color: rgb(236, 226, 145);
  text-decoration: none;
}

.banner p {
  color: rgb(235, 233, 222);
  font-size: 95%;
  word-spacing: 0.5em;
  letter-spacing: 0.3em;
}

#scroll-up-button-div {
  position: fixed;
  margin-top: 144px; 
  left: 48.5%;
  height: 5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

#scroll-up-button {
  width: 40px;
  height: 40px;
  border-radius: 3em;
  display: none;
  text-align: center;
  color: black;
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.481);
  z-index: -2;
}

#scroll-up-button p {
  bottom: 0;
  -webkit-animation: scrollUp 1.5s infinite;
  animation: scrollUp 1.5s infinite;
}

@keyframes scrollUp {
  0% {
    transform: translate(0,0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, -4px);
    opacity: 0;
  }
}

#scroll-up-button-div.scrolling {
  z-index: 4;
  position: fixed;
}

#scroll-up-button.scrolling {
  z-index: 4;
  display: block;
  cursor: pointer;
  animation: fade 0.5s linear;
}

@keyframes fade {
  from { opacity: 0% };
  to { opacity: 100% };
}

#scroll-up-button.scrolling:focus{
  outline: none;
}

.component {
  width: auto;
  overflow: hidden;
  min-height: 100vh;
  animation: fade .25s linear;
}

.header-container {
  margin-top: 140px;
  height: 10%;
  padding: 2%;
}

.component-header {
  text-align: center;
  letter-spacing: .12em;
  margin: 0;
  color: aliceblue;
  -webkit-text-stroke: 0px black;
}

#h2 {
  color: #E9D21B
}

.component-body, .package-component-body {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

#home-component {
  background-color: #040808;
}

#about-component {
  background-image: url('./Assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  bottom: 0;
  left: 0;
}

.component-text {
  min-width: 40%;
  max-width: 40%;
  text-align: center;
}

#about-text {
  margin-right: 10%;
}

.component-text p {
  font-size: larger;
  line-height: 1.5em;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  padding: .5em;
}

/* images outside of the packages component */

.component-image-div {
  max-width: 45%;
  min-width: 45%;
}
.component-image{
  max-width: 80%;
  margin-left: 10%;
  /* border: solid 1px aliceblue; */
  box-shadow: 0px 0px 3px 3px rgba(240, 248, 255, 0.541);
}

.package-component-body {
  background-color: rgba(0, 0, 0, 0.671);
  margin-bottom: 2%;
}

.package-list {
  list-style: none;
  padding: 0;
}

.packages-component-text-div {
  max-width: 45%;
}

.packages-component-image-div-a, .packages-component-image-div-b, .packages-component-text-div {
  min-width: 45%;
  max-height: 80%;
  min-height: 80%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.packages-component-image-div-a, .packages-component-image-div-b {
  position: relative;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.774);
  border-top: solid 2px #030909;
  border-left: solid 2px #030909;
  border-right: solid 2px #030909;
  box-shadow: 0px 0px 3px 3px rgba(240, 248, 255, 0.541);
}

.packages-component-image-div {
  border-top: solid 2px #030909;
  border-left: solid 2px #030909;
  border-right: solid 2px #030909;
  box-shadow: 0px 0px 3px 3px rgba(240, 248, 255, 0.541);
}

.packages-component-image {
  width: 100%;
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
  object-fit: cover;
  cursor: pointer;
}

.packages-image-stack {
  position: absolute;
  right: 2%;
}

.caption {
  font-size: small;
  color: aliceblue;
}

.text-div-container {
  height: 98%;
  padding: 2px;
}

.packages-component-image-div-a {
  margin-left: 4%;
}

.packages-component-image-div-b {
  margin-right: 4%;
}

#packages-component-text-b {
  margin-right: 6%;
  margin-left: 4%;
}

#packages-component-text-a {
  margin-left: 6%;
  margin-right: 4%;
}

.component-text p {
  line-height: 1.4em;
  color: aliceblue;
}

.packages-component-text-div p, h2 {
  line-height: 1.5em;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  padding: 0.2em;
  color: aliceblue;
}

.packages-component-text-div p {
  font-size: 110%;
}

#image-description {
  border-bottom: solid #E9D21B 2px;
}

.zoom {
  z-index: 2;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 5, 8, 0.863);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.zoom-img-button {
  display: grid;
  height: 100%;
  margin: 0 auto;
}

.zoom-image-container {
  display: grid;
  margin: 0 auto;
  padding: 2em;
  width: 100%;
}

.zoom-image {
  max-height: 90vh;
  display: block;
  margin: auto;
}

.close-carousel {
  position: absolute;
  z-index: 2;
  top: 2%; 
  right: 4%;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 200%;
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.close-carousel:hover{
  border: solid 2px rgb(236, 226, 145);
  background-color: black;
  color: #E9D21B;
  transition: all 200ms ease-in-out;
}

/* .package, .packageopen {
  margin-left: 4%;
}

.packageopen {
  background-color: rgb(26, 24, 24);
  margin-bottom: 3%;
}

.packages-component {
  width: 100%;
}

.packages {
  padding-top: 2%;
  padding-bottom: 10vh;
}

.packages h2 {
  text-align: left;
  letter-spacing: .12em;
  margin-left: 20%;
  color: aliceblue;
}

.package-button {
  width: 70%;
  height: auto;
  background: transparent;
  border: none;
  font-size: 110%;
}

.package-button:focus, .package-description a:focus {
  outline: thin dotted;
  color: #E9D21B;
}

.package-name-container p, .package-button:focus .menu-carrot,
.package-button:hover .package-name-container p, .package-button:hover .menu-carrot {
  color: #E9D21B;
  letter-spacing: 0.22em;
  transition: all 200ms ease;
}

.package-name-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-bottom:2%;
  width: 100%;
  text-align: left;
}

.package-name-container p, .package-description a { 
  width: 100%;
  cursor: pointer;
  letter-spacing: 0.12em;
  margin-top: 0;
  color: aliceblue;
}

.package-description a {
  text-decoration: none;
  font-size: 110%;
  font-weight: bolder;
  margin-left: 3em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.package-description a:hover { 
  color: #E9D21B;
  letter-spacing: 0.3em;
  transition: all 200ms ease;
}

.package-description {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width:80%;
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 400ms ease-out;
}

.package-description p {
  margin-left: 5%;
  font-size: large;
  line-height: 1.5em;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  padding: .5em;
  color: aliceblue;
}

.component .packageopen .menu-carrot {
  transform: rotate(90deg);
  transform-origin: center;
  margin-bottom: 3%;
}

.component .packageopen .package-description {
  max-height: 1000px;
  opacity: 1;
}

.menu-carrot {
  width: auto;
  margin-right: 5%;
  transform: rotate(-90deg);
  transform-origin: center;
  cursor: pointer;
  color:rgb(120, 151, 177)
} */

.contact-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
}

.contact-form label {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  font-size: large;
  color: aliceblue;
}

.contact-form input, .contact-form textarea {
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding: 2%;
  border: solid black 2px;
  font-size: large;
  letter-spacing: 0.16em;
}

#Message {
  height: 175px;
}

#submit-button {
  width: 20%;
  min-width: 100px;
  transition: all 500ms ease-in-out;
  border: solid .26em transparent;
}

#submit-button:hover{
  border: solid .26em #E9D21B;
  background-color: black;
  color: rgb(236, 226, 145);
  transition: all 500ms ease-in-out;
}

.contact-link {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 10%;
  text-align: center;
  border-bottom: solid #E9D21B;
  border-top: solid rgba(240, 248, 255, 0) 1px;
  border-left: solid rgba(240, 248, 255, 0) 1px;
  border-right: solid rgba(240, 248, 255, 0) 1px;
  transition: all 500ms
}

.contact-link a {
  color: aliceblue;
  text-decoration: none;
  font-size: 140%;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  padding: 1em;
  line-height: 1.5em;
  transition: all 500ms
}

.contact-link:hover {
  background-color: rgb(26, 24, 24);
  border-bottom: solid aliceblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 500ms ease-in;
}

.contact-link:hover a{
  color: #E9D21B;
  transition: all 500ms ease-in;
}

.contact-logo {
  width: 30px;
}

.link-to-contact {
  display: flex;
  flex-direction: row;
  color: aliceblue;
  justify-content: center;
  font-size: x-large;
}

.creations-link {
  color: rgb(240, 225, 107);
  text-decoration: none;
}

.creations-link:hover {
  color: rgb(240, 225, 107);
  text-decoration: none;
}


.creations-grid-container {
  display: grid;
  width: 90%;
  height: auto;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5em;
}

.creations-grid-card {
  background: black;
  position: relative;
  max-height: 400px;
  overflow: hidden;
}


.creations-grid-card img {
  max-height: 400px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.creations-grid-card-text {
  position: absolute;
  box-sizing: border-box;
  opacity: 0;
  height: 100%;
  width: 100%;
  padding: .5em;
  text-align: center;
  font-size: large;
  color: aliceblue;
  background: rgba(0, 0, 0, 0.699);
  /* overflow: hidden; */
  transition: all 500ms ease-in-out;
}

.creations-grid-card-text:hover {
  opacity: 1;
  transition: all 250ms ease-in-out;
}

/* Mobile Styling */

@media screen and (max-width: 800px){
 
  nav-bar{
    display: flex;
    flex-direction: column;
  }

  .banner-link {
    font-size: x-large;
    font-weight: bold;
  }

  .component-body, .package-component-body {
    flex-direction: column;
    width: auto;
  }

  .header-container {
    margin-top: 150px;
  }
  
  .component-header {
    width: 90%;
    margin: 0 auto;
  }

  #h2 {
    text-align: center;
    margin: 0 auto;
  }

  .creations-grid-container {
    grid-template-columns: initial;
  }

  .packages-component-image-div, .packages-component-text-div, .component-image-div {
    min-width: 90%;
    margin: 0 auto;
    margin-top: 4%;
    max-width: 90%;
  }

  .zoom-img-button {
    max-width: 100%;
    margin: 0 auto;
  }

  .zoom-image {
    max-width: 100%;
    margin-top: 25%;
  }

  .component-text, #about-text {
    min-width: 90%;
    margin: 0 auto;
  }

  .component {
    width: 100%;
    overflow: scroll;
    justify-content: space-around;
    align-content: center;
  }

  #scroll-up-button-div {
    left: 52%;
  }

  #scroll-up-button {
    margin-left: -6%;
  }

  #scroll-up-button.scrolling {
    margin-left: -6%;
  }

  #packages-component-text-a, #packages-component-text-b {
    margin: 0 auto;
  }

  .package-name-container {
    width: 100%;
  }

  .package-name-container a {
    margin-left: 3em;
  }

  .package-name {
    margin-left: 10%
  }

  .menu-carrot {
    position: absolute;
  }

  .contact-link {
   font-size: 80%;
   text-align: center;
  }

  .contact-header {
    text-align: center;
    margin-left: 0;
  }

  .contact-column {
    margin-left: 8%;
  }

  .packages .packageopen .menu-carrot {
    margin-bottom: 16%;
    margin-right: 14%;
  }

}

@media screen and (max-width: 452px){
  #scroll-up-button-div {
    margin-top: 180px;
  }

  .banner {
    min-height: 125px;
    max-height: 125px;
  }

  .header-container {
    margin-top: 180px;
  }

  .contact-link {
    text-align: left;
    margin-left: 15%;
  }
}